{% extends 'base/layout.html' %}

{% block content %}

    <h2>Sign In</h2>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Password</label>
            <input type="password" class="form-control" id="email" name="password">
          </div> -->

          <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    
{% endblock content %}